# Dependencias
node_modules/
.turbo/

# Builds
dist/
.next/
out/

# Entornos
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Logs
*.log
npm-debug.log*

# TypeScript
*.tsbuildinfo
